/* Define a custom font face */
@font-face {
    font-family: 'Comic';
    src: url("./Font/Comic\ Sans\ MS.ttf"), (truetype);
}

/* Reset margin and padding for all elements and set the default font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Comic';
}

body.background {
    background-image: url('./Image/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

/* Style for the main contents section */
div.main-contents {
    top: 35%;
}

/* Style for the back button */
button.back {
    width: 47px;
    height: 100px;
}

/* Style for the backgame div and its child elements */
div.backgame > div {
    transform: translate(-100%);
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

/* Inherit border-radius for elements with the class .back-answer inside div.backgame > div */
div.backgame > div .back-answer {
    border-radius: inherit;
}

/* Style for the result text */
p.result-text {
    font-size: 40px;
}

.result{
    left: 25%;
    border-radius: 5%;
}

/* Style for the start button */
.button-start {
    position: absolute;
    width: 75%;
    bottom: 0;
}

/* Style for the again button */
.button-again {
    position: absolute;
    width: 75%;
    bottom: 0;
    left: 7%;
    height: 60px;
}

.player-side{
    mix-blend-mode: multiply;
}

.system-side{
    mix-blend-mode: multiply;
}

div.options >  img.option{
    mix-blend-mode: multiply;
}

.system-side{
    position: absolute;
    right: 1% !important;
    top: 120% !important;
}

/* Media query for screens with a minimum width of 768px */
@media only screen and (max-width: 567px) {
    div.main-contents > img.vs-logo{
        left: 38%;
    }

    #again{
        height: 38px;
        z-index: -1;
        left: 12%;
    }

    img.option{
        width: 50px;
    }

    div.system-side > img {
        width: 100px;
    }

    div.player-side > img {
        width: 100px;
    }
}
/* Media query for screens with a minimum width of 768px */
@media only screen and (min-width: 768px) {
    .result {
        bottom: 60%;
        left: 25%;
    }

    #start {
        left: 7%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wantplay > p{
        font-size: 30px;
    }
    
    #Yes{
        font-size: 30px;
    }

    #no{
        font-size: 30px;
    }

    #items{
        font-size: 30px;
    }

    #selector{
        font-size: 20px;
        bottom: 56%;
        right: 40%;
        position: absolute;
    }

    #question{
        text-align: center;
    }

    #back{
        position: absolute;
        height: 200px;
    }

    #basic-addon1{
        font-size: 30px;
    }

    #player{
        font-size: 30px;
    }
    
    .system-side{
        position: absolute;
        right: 1%;
        top: 160%;
    }

    .player-side > img{
        width: 150px;
        position: relative;
        top: 60px;
    }

    .system-side > img{
        width: 150px;
        position: absolute;
        right: -9.5%;
        bottom: 12%;
    }

    #question > .options > img{
        top: 70px;
        left: 120px;
    }

    #question > .options > img.option{
        width: 60px;
    }

    div.main-contents > img.vs-logo{
        left: 43%;
    }
}
/* Media query for screens with a width of 884px */
@media only screen and (width: 884px) {
    .result {
        bottom: 60%;
        left: 25%;
    }

    #start {
        left: 7%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wantplay > p{
        font-size: 30px;
    }
    
    #Yes{
        font-size: 30px;
    }

    #no{
        font-size: 30px;
    }

    #items{
        font-size: 30px;
    }

    #selector{
        font-size: 20px;
        bottom: 56%;
        right: 40%;
        position: absolute;
    }

    #question{
        text-align: center;
    }

    #back{
        position: absolute;
        height: 200px;
    }

    #basic-addon1{
        font-size: 30px;
    }

    #player{
        font-size: 30px;
    }

    .system-side{
        position: absolute;
        right: -21%;
        top: 130%;
    }

    .system-side > img{
        mix-blend-mode: multiply;
    }

    .player-side > img{
        width: 150px;
        position: relative;
        top: 60px;
        mix-blend-mode: multiply;
    }

    #question > .options > img{
        top: 110px;
        left: 120px;
        mix-blend-mode: multiply;
        opacity: 1;
    }

    #question > .options > img.option{
        width: 80px;
    }

    div.main-contents > img.vs-logo{
        left: 43%;
    }
}
/* Media query for screens with a minimum width of 990px */
@media only screen and (min-width: 990px) {

    .result {
        bottom: 50% ;
    }

    #start {
        left: 7%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 10px;
    }

    .wantplay > p{
        font-size: 30px;
    }
    
    #Yes{
        font-size: 30px;
        position: fixed;
    }

    #no{
        font-size: 30px;
        position: fixed;

    }

    #items{
        font-size: 30px;
    }

    #selector{
        font-size: 20px;
        bottom: 30%;
        right: 45%;
        position: absolute;
    }

    #question{
        text-align: start;
    }

    #back{
        position: absolute;
        height: 200px;
    }

    #basic-addon1{
        font-size: 30px;
    }

    #player{
        font-size: 30px;
    }

    #question > .options > img{
        top: 10px;
        left: 350px;
    }

    div.main-contents > img.vs-logo{
        left: 45.5%;
    }

    #again {
        z-index: 1; /* تغییر z-index به 1 */
        left: 8%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 75%;
    }
}
/* Media query for screens with a minimum width of 1200px */
@media only screen and (min-width: 1200px) {

    .result {
        bottom: 55%;
        z-index: 1;
    }

    #start {
        left: 8%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 10px;
    }

    #again{
        z-index: -1;
        left: 8%;
    }

    .wantplay > p{
        font-size: 30px;
        text-align: center;
    }
    
    #Yes{
        font-size: 30px;
        position: fixed;
 
    }

    #no{
        font-size: 30px;
        position: fixed;
    }

    #items{
        font-size: 30px;
    }

    #selector{
        font-size: 20px;
        bottom: 30%;
        right: 45%;
        position: absolute;
    }

    #question{
        text-align: center;
        top: 50%;
    }

    #back{
        position: absolute;
        height: 200px;
    }

    #basic-addon1{
        font-size: 30px;
    }

    #player{
        font-size: 30px;
    }

    .player-side > img{
        width: 200px;
    }

    .system-side > img{
        width: 200px;
        position: absolute;
        right: -11.5%;
        bottom: 12%;
    }

    #question > .options > img.option{
        width: 100px;
    }

    .options{
        top: 10%;
        left: 40%;
    }

    div.main-contents > img.vs-logo{
        z-index: -1;
        left: 43%;
    }

}